@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ffffff;
	@apply font-mono;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

.prod-img {
	width: 13rem;
	height: 12rem;
	object-fit: cover;
}
